In [ ]:
import pandas as pd
import sqlite3
import numpy as np

con = sqlite3.connect("portal_mammals.sqlite")

In [ ]:
Items = [
	['Agua','Infantil','Jose'],
	['Mar','Narrativo','Rafa'],
	['Bosque','Infantil','Jose'],
	['Arbol','Lirico','Juan'],
	['Abedul','Dramatico','Lorenzo'],
    ['Oceano','Infantil','Jose'],
	['Infierno','Narrativo','Rafa'],
	['Cielo','Infantil','Jose'],
	['Naufrago','Lirico','Juan'],
	['Ordenador','Dramatico','Lorenzo'],
    ['Barco','Narrativo','Rafa'],
	['Pajaros','Infantil','Jose'],
	['Azul','Lirico','Gonzalo'],
	['Rojo','Dramatico','Lorenzo'],
    ['Cuerpo','Dramatico','Rodolfo']
]

In [ ]:
Users=[
    ['Grupo Vall Companys','Madrid',635248709,'sevemaf134@chotunai.com'],